 .RedButton,
 .BlueButton {
  position: fixed;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1000;
}

.RedButton img,
.BlueButton img {
  display: block;
  width: 80px;
}


