.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
  background: linear-gradient(180deg, #ffffff 0%, #ffe2e6 100%);
}

.titleWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.BackToGame{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: flex-start;
  margin-left:20px;
  
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 80px 120px;
  border-radius: 32px;
  text-align: center;
  padding-top: 200px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

