.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
  background: linear-gradient(180deg, #ffffff 0%, #ffe2e6 100%);
}

.titleWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 64px 80px 120px;
  border-radius: 32px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buildingWrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 45vh;
}

.buildingImage {
  position: absolute;
  bottom: 0;
  max-height: 60vh;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.bigben {
  max-height: 94vh;
  left: 3%;
  z-index: 3;
}

.namsan {
  max-height: 94vh;
  right: 2%;
  z-index: 4;
}

.khalifa {
  max-height: 76vh;
  left: 21%;
  z-index: 1;
}

.lotte {
  max-height: 76vh;
  left: 63%;
  z-index: 2;
}

.infoIsland {
  max-height: 50vh;
  left: 38%;
  z-index: 0;
}

