.wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  text-align: center;
}

.title {
  width: 500px;
  margin: 0;
  font-size: clamp(2rem, 3vw, 3.2rem);
  font-weight: 700;
  color: black;
}

.semititle {
  margin: 8px 0 0;
  font-size: clamp(1rem, 1.5vw, 1.4rem);
  font-weight: 500;
  color: black;
}


