.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
}

.pressContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
}

.footBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.valueText {
  position: absolute;
  color: black;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
}

.valueText:first-of-type {
  left: 8%;
  bottom: 20px;
  transform: translateX(-50%);
}

.valueText:last-of-type {
  right: 8%;
  top: 5px;
  transform: translateX(50%);
}